$primary-color: #0085FF;
$secondary-color: #FFFFFF;

$primary-background-color: #050811;
$secondary-background-color: #00051B;
// $secondary-background-color: #070a1a;


$primary-text-color: #E6EDF3;
$secondary-text-color: #FFFFFF;

