.footer {
  background-color: $secondary-background-color;
  position: fixed;
  top: 0;
  right: 0;
  width: 5vw;
  height: 100vh;
  text-align: center;
  border-left: 1px solid $secondary-color;
  &__arrow-up {
    width: 40px;
    cursor: pointer;
    transition: 0.225s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  .container {
    padding: 40px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: $mobileScreen) {
  .footer {
    width: 100vw;
    height: 55px;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-left: none;
    border-top: 1px solid $secondary-color;
  }
}