.alert {
  position: fixed;
  left: 50%;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  background-color: #de3e3e;
  transform: translate(-50%);
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  animation: showErrorMessage 3s;
  z-index: 2;
  &.sucess {
    background-color: #4BB543;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: loadRemoveErrorMessage 3s forwards;
  }
}

@keyframes showErrorMessage {
  0% {
    top: -60px;
  }
  5% {
    top: 40px;
  }
  10% {
    top: 30px;
  }
  90% {
    top: 30px;
  }
  95% {
    top: 40px;
  }
  100% {
    top: -60px;
  }
}

@keyframes loadRemoveErrorMessage {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media (max-width: $mobileScreen) {
  @keyframes showErrorMessage {
    0% {
      top: -60px;
    }
    5% {
      top: 90px;
    }
    10% {
      top: 70px;
    }
    90% {
      top: 70px;
    }
    95% {
      top: 90px;
    }
    100% {
      top: -60px;
    }
  }
}