.portfolio__item{
  margin-bottom: 60px;
  &__title {
    font-size: var(--primary-heading-font-size);
    margin: 10px 0 15px 0;
    color: $secondary-text-color;
    text-transform: uppercase;
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    &__description {
      flex: 1 1 350px;
      p {
        line-height: var(--paragraph-line-height);
      }
    }
    &__container-img {
      flex: 1 1 350px;
      position: relative;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #330867;
        box-shadow: 0 0 0.5em 0 inherit;
        border-radius: 5px;
        z-index: -1;
        filter: blur(2.5em);
        transition: 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0.1;
      }
      &:hover::after {
        opacity: 0.2;
      }
      img {
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media(max-width: 1261px) {
  .portfolio__item {
    margin-bottom: 80px;
    &__info {
      &__description {
        margin-top: 15px;
      }
      &__container-img {
        order: -1;
      }
    }
  }
}
