.section-title {
  font-size: var(--secondary-heading-font-size);
  color: $secondary-text-color;
  margin-bottom: 40px;
  display: inline-block;
  line-height: var(--paragraph-line-height);
  position: relative;
  z-index: 0;
  &.apresentation {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 20px;
    border-radius: 5px;
    &:after {
      display: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 110%;
    height: 6px;
    bottom: -15px;
    background-image: linear-gradient(to right, rgba(0,0,0, 0), #ff6f00);
    transform-origin: left;
  }
}