.section-title {
  font-size: var(--secondary-heading-font-size);
  color: $secondary-text-color;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    height: 3px;
    bottom: -15px;
    background-color: $primary-color;
    transform-origin: left;
  }
}