* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  font-size: var(--body-font-size);
  color: $primary-text-color;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #04060d;
}

::-webkit-scrollbar-thumb {
  background: #005EBB;
  border: 3px solid #050811;  
  border-radius: 5px;
}

@media (max-width: $mobileScreen) {
  html {
    scroll-padding-top: 90px;
  }
}